# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
env/

# ML models
*.pth
*.pt
*.onnx
*.h5

# Dataset
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log